*.o
*.lo
*.la
*.a
/*.tar.xz
/*.md5sum
.deps/
.libs/
.dirstamp
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/include/mavlink
/libtool
/perf.data
/perf.data.old
/stamp-h1

*~
.*.swp
cscope.out
tags

/csd
camera-sample-client
camera-sample-custom
camera-sample-mavlink-client
camera-sample-realsense
