# camera-streaming-daemon configuration file is composed of sections,
# each section has some keys and values. They
# are case insensitive, so `Key=Value` is the same as `key=value`.
#
# [This-is-a-section]
# ThisIsAKey=ThisIsAValuye
#
# Following specifications of expected sessions and key/values.
#
# Section [Mavlink]:
#
# Keys:
#   Port
#       MAVLink destination UDP port.
#       Default: 14550
#
#   System_ID
#       System ID of the Camera-Streaming-Daemon to be used in MAVLink
#       communications.
#       Default: 42
#
#   Rtsp_Server_Addr
#       IP address or hostname of the interface where the rtsp server is
#       running. This is the address that will be used by the client to
#       make the rtsp request.
#       Default: 0.0.0.0
#
#   Broadcast_Addr
#       Broadcast address to send MAVLink heartbeat messages.
#       Default: 255.255.255.255
#
# Section [Gstreamer]:
#
# Keys:
#   Muxer
#       Muxer used to create the gstreamer pipeline
#       Default: rtph264pay
#
#   Converter
#       Converter used to create the gstreamer pipeline
#       Default: autovideoconvert
#
#   Encoder
#       Muxer used to create the gstreamer pipeline
#       Default: x264enc
#
# Section [V4L2]
#
# Keys:
#   Blacklist
#      Coma separated list of /dev/video devices that won't be exported by
#      camera-streaming-daemon. If the video streams from cameras /dev/video123
#      and /dev/video456 can't be exported, set:
#      blacklist = video123,video456
#      Default: <empty>
#
# Section [uri]:
#
# Keys:
#  <camera-device-id>
#      URI for the Camera Definition File of the camera device <camera-device-id>
#       
# Section [imgcap]
#    
# Keys:
#   location
#      The local path with write permission where captured images will be saved. For e.g : /tmp/
#
# Section [gazebo]:
#
# Keys:
#   camtopic
#      Gazebo topic where camera images are published.
